@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

html,body {
    height:100%;
}

.layers{
    background-image: url("../images/Layer 2.png"), url("../images/Layer 1.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*width: 300px;*/
    /*height: 350px;*/
}

.layer0{
    background-image: url("../images/Layer 0.png");
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 4000px;
    z-index: 1;
}

.layer1{
    background-image: url("../images/Layer 1.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    /*left: -100px;*/
    top: 0px;
    width: 100%;
    z-index: 2;
}

.layer2{
    background-image: url("../images/Layer 2.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;
    /*position: absolute;*/
    /*top: -49px;*/
    /*width: 100%;*/
    /*height: 940px;*/
    z-index: 3;
}

.layer4{
    background-image: url("../images/Layer 4.png");
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.21);
    opacity: 0.851;
    /*position: absolute;*/
    /*left: -2px;*/
    /*top: -3px;*/
    /*width: 100%;*/
    height: 53px;
    z-index: 13;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/Myriad Pro Regular.ttf ') format("truetype");
}

.header-first-text{
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*margin-left:15%;*/
    /*left: 320.099px;*/
    /*top: 20px;*/
    z-index: 25;
    margin-left:10%;
    padding-top:16px;
}

.header-first-text a{
    font-family: MyriadPro-Regular;
    color:  #7a7b87;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.15px;
    text-align: left;
    text-transform: uppercase;
}

.header-first-text a:hover{
    text-decoration: none;
}

.label-header{
    font-family: MyriadPro-Regular;
    color:  #7a7b87;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.15px;
    text-align: left;
    margin-left:15px;
    margin-right:15px;
}

.layer5{
    background-image: url("../images/Layer 5.png");
    opacity: 1;
    /*position: absolute;*/
    /*left: 603px;*/
    /*top: 0px;*/
    width: 132px;
    height: 56px;
    z-index: 21;
    margin-left:-140px;
    display:inline-block;
}

.quickplay-label{
    font-size: 14px;
    font-family: MyriadPro-Regular;
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*top: 21.85px;*/
    /*left:32px;*/
    z-index: 50;
    display:block;
    padding-top:18px;
    padding-left:30px;
}

.quickplay-label:hover{
    text-decoration: none;
    color:black;
}

.row{
    margin-left:0px !important;
    margin-right:0px !important;
}

.header-text-right{
    left: 48%;
    /*top: 18px;*/
    z-index: 26;
    /*position: absolute;*/
    /*position: absolute;*/
    /*left: 758.285px;*/
    display:inline-block;
    margin-left:20px;
}

.header-text-right a{
    font-family: MyriadPro-Regular;
    color:  #7a7b87;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.15px;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.2;

}

.header-text-right a:hover{
    text-decoration:none;
}

.sidebar-header{
    height: 53px;
    /*box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.21);*/
    text-align:center;
}

.fill{
    min-height: 100%;
    height: 100%;
}

.logo-image{
    /*position: absolute;*/
    /*left: 10%;*/
    /*top: 14px;*/
    width: 163px;
    height: 26px;
    z-index: 28;
    margin-top:15px;
}

.sidebar-body{
    background-color:  #2b2b30;
    position: absolute;
    /*left: -10px;*/
    top: 53px;
    width: 100%;
    height: 2274px;
    z-index: 12;
}

.button-start-game{
    background-image: url("../images/button-start-game.png");
    /*position: absolute;*/
    /*left: 60px;*/
    /*top: 20px;*/
    width: 171px;
    height: 39px;
    z-index: 30;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.start-game-label{
    font-family: MyriadPro-Regular;
    color:  #d2ecf8;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 500;
    /*text-align: left;*/
    text-shadow: 0px 1px 1px rgba(43, 59, 72, 0.75);
    text-transform: uppercase;
    line-height: 1.2;
    /*position: absolute;*/
    /*left: 46.134px;*/
    /*top:12px;*/
    z-index: 31;
    margin-left:48px;
    margin-top:11px;
}
.start-game-label:hover{
    cursor: pointer;
    color:#8eb9ff;
}

.sidebar-leader-box{
    background-color: rgb(28, 48, 58);
    /*position: absolute;*/
    /*left: -15px;*/
    /*top: 75px;*/
    width: 100%;
    height: 127px;
    z-index: 17;
    text-align:center;
}

.sbox{
    background-color: rgb(34, 34, 38);
    /*position: absolute;*/
    /*left: -15px;*/
    /*top: 91px;*/
    width: 100%;
    height: 36px;
    z-index: 18;
    padding-top:6px;
}

.leader-label{
    font-size: 14px;
    font-family: MyriadPro-Regular;
    color: rgb(210, 236, 248);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 88px;*/
    /*top: 20px;*/
    z-index: 32;
}

.leader-label-small{
    font-size: 11px;
    font-family: MyriadPro-Regular;
    color: rgb(210, 236, 248);
    line-height: 1.2;
    text-align: center;
    /*position: absolute;*/
    /*left: 68px;*/
    /*top: 44px;*/
    width: 147px;
    height: 36px;
    z-index: 33;
}

.gear-icon{
    /*position: absolute;*/
    /*left: 87px;*/
    /*top: 11px;*/
    width: 14px;
    height: 14px;
    z-index: 20;

}

.sbox-settings{
    font-size: 10px;
    font-family: MyriadPro-Regular;
    color: rgb(254, 254, 254);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 110px;*/
    /*top: 12.5px;*/
    z-index: 19;
}

.sidebar-friends{
    font-size: 14px;
    font-family: MyriadPro-Regular;
    color: rgb(210, 236, 248);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 12.937px;*/
    /*top: 166.6px;*/
    z-index: 34;
    font-weight: 500;
    margin-left:10px;
}

.scrollbar
{
    /*top:195px;*/
    /*position:relative;*/
    right:0;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
}

.force-overflow
{
    min-height: 450px;
}

#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#style-1::-webkit-scrollbar
{
    width: 6px;
    background-color: rgb(29, 117, 155);
}

#style-1::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgb(68, 68, 74);
    background-color: #555;
}

.friend-wrapper{
    margin-left:13px;
    margin-top:25px;
}

.img-friend{
    border-radius: 50%;
    background-color: rgb(42, 138, 234);
    /*position: absolute;*/
    /*left: 15px;*/
    /*top: 10px;*/
    width: 35px;
    height: 35px;
    z-index: 43;
    margin-top:-20px;
}

.friend-name{
    font-size: 13px;
    font-family: MyriadPro-Regular;
    color: rgb(210, 236, 248);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 62.668px;*/
    /*top: 14.2px;*/
    z-index: 45;
    font-weight: 500;
    margin-bottom:0px;
}

.friend-game-playing{
    font-size: 11px;
    font-family: MyriadPro-Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 61.937px;*/
    /*top: 30.756px;*/
    z-index: 46;
    font-weight: 500;
}

.text-friend-cont{
    display:inline-block;
    margin-left:10px;
}

.horiz-line{
    background-color: rgb(68, 68, 74);
    /*position: absolute;*/
    /*left: 19px;*/
    /*top: 520px;*/
    width: 80%;
    height: 2px;
    z-index: 38;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:auto;
    margin-right:auto;
}

.score-table-pro{
    font-size: 14px;
    font-family: MyriadPro-Regular;
    color: rgb(210, 236, 248);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 12.134px;
    top: 553.6px;
    z-index: 35;
    font-weight: 500;
}

.score-pro-container{
    /*top:577px;*/
    /*position:absolute;*/
    /*left:12px;*/
}

.score-pro{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(71, 71, 76);
    border-radius: 3px;
    background-color: rgb(51, 51, 56);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    /*position: absolute;*/
    /*left: 12px;*/
    margin-top: 10px;
    width: 216px;
    height: 59px;
    z-index: 101;

}

.score-pro-date{
    font-size: 9px;
    font-family: MyriadPro-Regular;
    color: rgb(193, 193, 195);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 6.937px;*/
    /*top: 3px;*/
    z-index: 185;
    margin-top:2px;
    margin-left:5px;
}

.box-rectangle{
    background-image: url("../images/rectangle.png");
    /*position: absolute;*/
    /*left: 12px;*/
    /*top: 704px;*/
    width: 88px;
    height: 58px;
    z-index: 105;
}

.box-vs{
    font-family: MyriadPro-Regular;
    color:  #404044;
    font-size: 70.58px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: left;
    transform: scaleX(1.0264);/* width and height properties ommitted due to transform */
}

.img-player-1{
    /*position: absolute;*/
    /*left: 6px;*/
    /*top: 22px;*/
    width: 24px;
    height: 24px;
    z-index: 178;
    margin-left:5px;
    margin-top:-17px;
}

.img-player-2{
    /*position: absolute;*/
    /*left: 181px;*/
    /*top: 22px;*/
    width: 24px;
    height: 24px;
    z-index: 178;
    margin-right:5px;
    margin-top:-18px;
}

.player-1-name{
    font-size: 12px;
    font-family: MyriadPro-Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 38px;*/
    /*top: 22px;*/
    font-weight: 400;
    z-index: 179;
}

.player-2-name{
    font-size: 12px;
    font-family: MyriadPro-Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 138px;*/
    /*top: 22px;*/
    font-weight: 400;
    z-index: 179;
}

.player-1-level{
    font-size: 9px;
    font-family: MyriadPro-Regular;
    color: rgb(136, 136, 142);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 40px;*/
    /*top: 37px;*/
    z-index: 183;
}

.player-2-level{
    font-size: 9px;
    font-family: MyriadPro-Regular;
    color: rgb(136, 136, 142);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 138px;*/
    /*top: 37px;*/
    z-index: 183;
}


.new-rectangle{
    background-image: url("../images/rectangle.png");
    background-repeat: no-repeat;
    background-size: auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(71, 71, 76);
    border-radius: 3px;
    background-color: rgb(51, 51, 56);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    /*position: absolute;*/
    /*left: 12px;*/
    /*top: 704px;*/
    width: 169px;
    height: 51px;
    z-index: 101;
    margin-left:auto;
    margin-right:auto;
}

.box-victory{
    border-radius: 3px;
    background-color: rgb(27, 172, 235);
    /*position: absolute;*/
    /*left: 140px;*/
    /*top: 3px;*/
    width: 65px;
    height: 14px;
    z-index: 140;
    margin-top:2px;
    margin-right:5px;

    font-size: 9px;
    font-family: MyriadPro-Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;

    text-align:center;
    padding-top:2px;
}

.box-defeat{
    background-color: rgb(191, 43, 8);
    border-radius: 3px;
    /*position: absolute;*/
    /*left: 140px;*/
    /*top: 3px;*/
    width: 65px;
    height: 14px;
    z-index: 140;
    margin-top:2px;
    margin-right:5px;

    font-size: 9px;
    font-family: MyriadPro-Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;

    text-align:center;
    padding-top:2px;

}

.box-defeat p{
    font-size: 9px;
    font-family: MyriadPro-Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    /*text-align: left;*/
    position: absolute;
    left: 19px;
    top: 2px;
    z-index: 104;
}

.box-victory p{
    font-size: 9px;
    font-family: MyriadPro-Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    /*text-align: left;*/
    /*position: absolute;*/
    /*left: 19px;*/
    /*top: 2px;*/
    z-index: 104;
}

.score-table-wrap{
    width:100%;
    /*position:relative;*/
    /*top:276px;*/
    height:290px;
}

.feat-news{
    font-size: 14px;
    font-family: MyriadPro-Regular;
    color: rgb(210, 236, 248);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 12.937px;
    top: 1000.6px;
    z-index: 36;
    font-weight: 400;
}

.feat-news-wrap{
    /*position: absolute;*/
    /*left: -15px;*/
    /*top: 1033px;*/
}

.news-img{
    margin-left:24px;
    width: 35px;
    height: 35px;
    z-index: 68;
}

.news-text{
    font-size: 11px;
    font-family: MyriadPro-Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 51.982px;*/
    /*top: 1039.756px;*/
    z-index: 69;
    font-weight: 400;
    margin-left:5px;
}

.news-dots{
    font-size: 14px;
    font-family: MyriadPro-Regular;
    color: rgb(68, 68, 74);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 14.937px;*/
    /*top: 1073.6px;*/
    z-index: 42;
    margin-left:46px;
}

.more-news{
    background-color: rgb(50, 50, 50);
    /*position: absolute;*/
    /*left: 15px;*/
    /*top: 1280px;*/
    width: 88px;
    height: 23px;
    z-index: 82;
    margin-left:24px;
    display:block;
}

.more-news-lbl{
    font-size: 11px;
    font-family: MyriadPro-Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 27.844px;*/
    /*top: 1285.4px;*/
    z-index: 83;
    margin-left:18px;
}

.more-news-lbl:hover{
    cursor: pointer;
    color:#8eb9ff;
}

.media-text{
    font-size: 14px;
    font-family: MyriadPro-Regular;
    color: rgb(210, 236, 248);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 12.844px;
    top: 1325.6px;
    z-index: 37;
    font-weight: 400;
}

.media-wrap{
    /*position: absolute;*/
    /*left: 6px;*/
    /*top: 1344px;*/
    width:100%;
    text-align:center;
}

.media-img{
    width: 169px;
    height: 80px;
    z-index: 144;
}

.media-m{
    margin-top:15px;
}

.media-lbl{
    font-size: 12px;
    font-family: MyriadPro-Regular;
    color: rgb(141, 141, 150);
    line-height: 1.2;
    /*text-align: left;*/
    /*position: absolute;*/
    /*left: 12.937px;*/
    /*top: 1486.792px;*/
    z-index: 99;
    display:block;
}

.more-media{
    background-color: rgb(50, 50, 50);
    /*position: absolute;*/
    left: 15px;
    /*top: 1665px;*/
    width: 88px;
    height: 23px;
    z-index: 84;
    margin-top:20px;
    display:block;
    margin-left:30px;
}

.more-media-lbl{
    font-size: 11px;
    font-family: MyriadPro-Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    /*text-align: left;*/
    /*position: absolute;*/
    /*left: 25.844px;*/
    /*top: 1670.4px;*/
    z-index: 85;
}

.more-media-lbl:hover{
    cursor: pointer;
    color:#8eb9ff;
}

.item img{
    margin-left:160px;
}

.carousel-text-inner{
    font-size: 14px;
    font-family: MyriadPro-Regular;
    color: rgb(254, 254, 254);
    line-height: 1.2;
    /*text-align: left;*/
    /*position: absolute;*/
    /*left: 255.134px;*/
    /*top: 394.25px;*/
    /*width: 789px;*/
    /*height: 27px;*/
    z-index: 8;
}

.caros-h3{
    font-size: 26px;
    font-family: MyriadPro-Regular;
    color: rgb(254, 254, 254);
    line-height: 1.2;
    /*text-align: left;*/
    /*position: absolute;*/
    /*left: 255.302px;*/
    /*top: 358.576px;*/
    z-index: 7;
}

ol.carousel-indicators {
     position: absolute;
     bottom: 29px;
     margin: 0;
     left: 0;
     right: 0;
     width: auto;
 }

@media screen and (max-width: 1440px){
    ol.carousel-indicators {
        position: absolute;
        bottom: 29px;
        margin: 0;
        left: 0;
        right: 0;
        width: auto;
        margin-left:52px;
    }
    .caros-arrows{
        margin-bottom:24px;
    }
}

@media screen and (max-width: 1160px){
    ol.carousel-indicators {
        position: absolute;
        bottom: 50px;
        margin: 0;
        left: 0;
        right: 0;
        width: auto;
        margin-left:76px;
    }


}

@media screen and (max-width: 1240px){
    .button-start-game{
        width:150px;
    }

    .start-game-label{
        left:40px;
    }
}



ol.carousel-indicators li,
ol.carousel-indicators li.active {
    float: left;
    width: 30px;
    height: 7px;
    margin: 0;
    border-radius: 0;
    border: 0;
    background: rgb(27, 172, 235);
    margin-right:10px;
}

ol.carousel-indicators li.active {
    background: white;
}

.under-slider{
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
}

.img-txt{
    font-size: 16px;
    font-family: MyriadPro-Regular;
    color: rgb(141, 141, 150);
    line-height: 1.2;
    margin-top:21px;
    /*position: absolute;*/
    /*left: 283.937px;*/
    /*top: 659.9px;*/
    z-index: 87;
}

.news-slider-wrap{
    background-color: rgb(51, 51, 51);
    /*position: absolute;*/
    /*left: 187px;*/
    /*top: 728px;*/
    /*width: 1018px;*/
    height: 333px;
    z-index: 153;
}

.text-news{
    font-size: 16px;
    font-family: MyriadPro-Regular;
    color: rgb(214, 214, 214);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 234.937px;*/
    /*top: 992.946px;*/
    z-index: 154;
}

.date-news{
    font-size: 12px;
    font-family: MyriadPro-Regular;
    color: rgb(141, 141, 150);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 235.521px;*/
    /*top: 1015.3px;*/
    z-index: 169;
}

.post-news img{
    margin-left:0 !important;
}

.feat-news-slide{
    font-size: 25px;
    font-family: MyriadPro-Regular;
    color: rgb(180, 180, 184);
    line-height: 1.2;
    text-align: left;
    font-weight: 400;
    /*position: absolute;*/
    /*left: 231.938px;*/
    /*top: 758.5px;*/
    z-index: 158;
    margin-left:15px;
}

.news-slider-hr{
    background-color: rgb(42, 138, 234);
    /*position: absolute;*/
    /*left: 234px;*/
    /*top: 800px;*/
    width: 57px;
    height: 1px;
    z-index: 155;
    margin-left:15px;
}

.news-part{
    font-size: 25px;
    font-family: MyriadPro-Regular;
    color: rgb(141, 141, 150);
    line-height: 1.2;
    text-align: left;
    font-weight: 400;
    /*position: absolute;*/
    /*left: 231.938px;*/
    /*top: 1091.5px;*/
    z-index: 109;
    margin-left:15px;
}

.news-headline{
    font-size: 16px;
    font-family: MyriadPro-Regular;
    color: rgb(214, 214, 214);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 235.162px;*/
    /*top: 1382.946px;*/
    z-index: 115;
    margin-top:13px;
    margin-bottom:10px;
}

.news-parag{
    font-size: 12px;
    font-family: MyriadPro-Regular;
    color: rgb(141, 141, 150);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 236.937px;*/
    /*top: 1432.792px;*/
    z-index: 116;
}

.more-news-link{
    background-color: rgb(27, 172, 235);
    position: absolute;
    /*left: 239px;*/
    /*top: 1489px;*/
    width: 101px;
    height: 32px;
    z-index: 117;
}

.inside-more-link{
    font-size: 14px;
    font-family: MyriadPro-Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    margin-top:8px;
    /*left: 279.938px;*/
    /*top: 1498.3px;*/
    z-index: 118;
    margin-left:15px;
}

.inside-more-link:hover{
    cursor:pointer;
}

.pro-table{
    font-size: 25px;
    font-family: MyriadPro-Regular;
    color: rgb(141, 141, 150);
    line-height: 1.2;
    text-align: left;
    font-weight: 400;
    /*position: absolute;*/
    /*left: 230.938px;*/
    /*top: 2017.513px;*/
    z-index: 287;
    margin-left:15px;
}

.pro-table-tbl{
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    width: 925px;
    height: 59px;
    margin-bottom:50px;
}

.pro-table-tbl tr:nth-child(even) td {
    background-color:  #333333;
    width: 925px;
    height: 69px;
}

.pro-table-tbl tr:nth-child(odd) td {
    background-color: #2a2a2a;;
    width: 925px;
    height: 69px;
}

.header-tbl{
    border-style: solid;
    border-width: 1px;
    border-color:  #6ac8f0;
    box-sizing: border-box;
    background-color:  #1baceb;
}

.header-tr{
    font-family: MyriadPro-Regular;
    color:  #ffffff;
    font-size: 18px;/* Approximation due to font substitution */
    font-weight: 400;
    border-style: solid;
    border-width: 1px;
    border-color:  #6ac8f0;
    box-sizing: border-box;
    background-color:  #1baceb;
    width: 925px;
    height: 59px;
}

td, th{
    padding:10px !important;
}
.pro-table-tbl img{
    border-radius: 50%;
    /*background-color: rgb(42, 138, 234);*/
    /*position: absolute;*/
    /*left: 248px;*/
    /*top: 2161px;*/
    width: 35px;
    height: 35px;
    z-index: 277;
}

.pro-table-tbl p{
    font-size: 14px;
    font-family: MyriadPro-Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 289.795px;*/
    /*top: 2170.6px;*/
    z-index: 279;
    display:inline-block;
}

.win-lbl{
    border-radius: 50%;
    background-color: rgb(27, 172, 235);
    /*position: absolute;*/
    /*left: 879px;*/
    /*top: 2231px;*/
    width: 31px;
    height: 31px;
    z-index: 290;
}

.lose-lbl{
    border-radius: 50%;
    background-color: rgb(191, 43, 8);
    width: 31px;
    height: 31px;
    z-index: 290;
}

tbody tr td{
    font-size: 14px;
    font-family: MyriadPro-Regular;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    /*position: absolute;*/
    /*left: 289.795px;*/
    /*top: 2170.6px;*/
    z-index: 279;
}

.footer-div{
    clear:both;
    background-color:  #252525;
    width: 100%;
    height: 140px;
}

.img-footer{
    margin-left:60px;
    margin-top:60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 16px;

    font-size: 11.5px;
    font-family: MyriadPro-Regular;
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 447.937px;*/
    /*top: 3416.276px;*/
    z-index: 172;
}

li a:hover{
    text-decoration: none;
    color:#428bca;
}

.footer-right-div{
    margin-top:60px;
    margin-right:60px;
}

.slas:hover{
    color:rgb(98, 98, 98);
    cursor: hand;
}

.cpy-right{
    display:inline-block;
}

.cpy-right label{
    font-size: 11.5px;
    font-family: MyriadPro-Regular;
    color: rgb(69, 69, 69);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 22.937px;*/
    /*top: 3516.1px;*/
    z-index: 175;
    margin-top:19px;
    margin-left:20px;
}

.last-foot-right{
    font-size: 11.5px;
    font-family: MyriadPro-Regular;
    color: rgb(69, 69, 69);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    /*position: absolute;*/
    /*left: 874.937px;*/
    /*top: 3516.068px;*/
    z-index: 176;
    display:inline-block;
}

.inner-register-form{
    background-color: rgba(0, 0, 0, 0.21);
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

.reg-column{
    margin-top:100px;
}

.reg-form{
    background:#1d1d1e;
    border-radius: 20px;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    font-family: MyriadPro-Regular;
    font-weight: 400;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

.reg-form{
    padding-left:20px;
    font-family: MyriadPro-Regular;
}